

.body{
	
	font-size: 13px;
	font-family: Open Sans;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	
	width: 800px;
	/* height: 200px;*/
}


* {
	color: grey ;
	font-family: Open Sans;
	font-size: 13px;
}



/*
	a == Enlace
*/

a {
	color: #1197AF;
	font-family: Open Sans;
	font-size: 12px;
	text-decoration: none ; 
}


.paquete {
	
	font-style:  ;
	color: red;
	padding:5px ;
	/*margin:20px ;*/ 
	
	margin-right: 50px;	
	margin-left: 50px;

/*
	margin-top: 50px;
	margin-right: 50px;
	margin-bottom: 50px;
	margin-left: 50px;
*/
	width: 200px;
	/* height: 200px;*/
}

.seleccionanumero {
	
	
	padding:10px ;
	/*margin:20px ;*/ 

	margin-right: 50px;
	margin-bottom: 0px;
	margin-left: 50px;

	width: 250px;
	/* height: 200px;*/
}

.gigas {
	
	padding:10px ;
	/*margin:20px ;*/ 

	margin-top: 0px;
	margin-right: 50px;
	margin-bottom: 0px;
	margin-left: 50px;

	width: 250px;
	/* height: 200px;*/
}


.minutos {
	
	padding:10px ;
	/*margin:20px ;*/ 

	margin-top: 0px;
	margin-right: 50px;
	margin-bottom: 0px;
	margin-left: 50px;
	width: 250px;
	/* height: 200px;*/
}


.vigencia {
	
	padding:10px ;
	/*margin:20px ;*/ 

	margin-top: 0px;
	margin-right: 50px;
	margin-bottom: 15px;
	margin-left: 50px;
	width: 200px;
	/* height: 200px;*/
}


/*CONTAINERICONOS*/
.griconscontainer {

padding:0.5px;
	
	margin-left: 20px;

}

.paquetesicons {

	display: inline-block;	
	padding:0.5px ;

	/*margin:20px ;*/ 

	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 50px;
	width: auto;
	/* height: 200px;*/
}

.detalleicons {
	display: inline-block;
	padding:5px ;
	padding-bottom:10;
	/*margin:20px ;*/ 


	margin-top: 0px;
	margin-right: 50px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: auto;
	/* height: 200px;*/
}

.resumencompra {
	
	padding:20px ;
	padding:20px ;
	/*margin:20px ;*/ 


	margin-top: 0px;
	margin-right: 50px;
	margin-bottom: 0px;
	margin-left: 50px;
	width: 200px;
	/*height: 200px;*/
}


/*Linea gris resumen*/
hr {
    height: 1px;
    border: 0;
    background-color: grey;
}



.btntest {

    background: transparent;   
    border-style: groove;
}​


.comprarboton {

	padding:20px ;
	padding:20px ;
	/*margin:20px ;*/ 


	margin-top: 0px;
	margin-right: 50px;
	margin-bottom: 0px;
	margin-left: 50px;
	width: 200px;
	/*height: 200px;*/

  display:block;
  margin-left: auto;
  margin-right: auto;
}

