        <div class="paquete">
            <h2>Paquete Más GB</h2>
        </div>        
            <div class="seleccionanumero">	
            <img src="assets/img/icon-arma-tu-paquete.svg" width="25px" height="25px">
                <b>Arma tu Paquete</b>
                <br>
                <br>    
                <form name="formulario" method="post" action="">
                      <!-- Lista de selección -->
                      <label for="combo">Selecciona un número de télefono</label>
                    <br> 
                    <br>
                      <select name="combo" id="combo">
                          <!-- Opciones de la lista -->
                            <option value="951130018"> 951130018 </option>
                            <option value="951830019"> 951830019 </option> 
                           <option value="964520088"> 964520088 </option>		
                      </select>
                </form>
            </div>    
            
                <div class="gigas">
                    Elige cuántos GB quieres comprar
                    <br>
                    <br>
                    <button class="btntest">2GB</button>
                    <button class="btntest">5GB</button>
                    <button class="btntest">7GB</button>
    
                </div>
                    
                <div class="minutos">
                    Elige cuántos minutos quieres comprar
                    <br>
                    <br>
                    <button class="btntest">100Min</button>
                    <button class="btntest">300Min</button>
                </div>
            
            
                <div class="vigencia">
                    Selecciona la vigencia
                    <br>	
                    <br>	
                    <button type="radio" name="dias" value="7dias" class="btntest">7 Días</button>
                    <button type="radio" name="dias" value="15dias" class="btntest">15 Días</button>
                    <button type="radio" name="dias" value="30dias" class="btntest">30 Días</button>	
                </div>  
            
            <div class="griconscontainer">
                    
                <div class="paquetesicons">
                    <img src="assets/img/ico-facebook.svg" width="25px" height="25px">
                    <img src="assets/img/ico-twitter.svg" width="25px" height="25px">
                    <img src="assets/img/ico-whatsapp-cir.svg" width="25px" height="25">
                    <br>
                    <img src="assets/img/ico-waze-cir.svg" width="25px" height="25px">
                    <img src="assets/img/ico-instagram-cir.svg" width="25px" height="25px">
                    <img src="assets/img/ico-snapchat-cir.svg" width="25px" height="25px">
                </div> 
    
                 <div class="detalleicons"> 
                    Todos los paquetes incluyen navegacion <br>
                    libre en redes sociales
                    <br>
    
                    <a href="http://www.google.com" target="_blank">Ver detalle > </a>		
                </div>
            </div>	
            
            <div class="resumencompra">
                Resumen de compra<br>
                Tu paquete incluye: 
                <br><hr>
    
                Total $0
            
            <br>
            <br>
            <br>	
            </div>
                
            <div class="comprarboton centrado">
                <input type="submit" name="comprar" value="Comprar" align="content" >	
            </div>
                
            
            <div>
                
    
            </div>
    
